.formulario {
    border-radius: 8px;
}

/* .formulario form{
    max-width: 992px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
} */
/* 
.formulario form{
    max-width: 992px;
    border-radius: 8px;

} */